.App {
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img {
    cursor: pointer;
    margin-left: 10px;
}

canvas {
    display: block;
    margin: 0 auto;
    background: #fff;
}

.color-picker-icon {
    padding: 10px;
    border-radius: 50%;
    background-color: #bbb;
}
